<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go Corona</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class = "left">
            <div class="chart">
                Gathering enough data to show you the stats...
            </div>
        </div>
        <div class="right">
            <div class="quiz" id = "some-answered">
                <div class="question" id="question">This is a question?</div>
                <div class="response">
                    <div class="btn" id="btn-yes">Yes</div>
                    <div class="btn" id="btn-no">No</div>
                </div>
            </div>
            <div class="quiz" id = "all-answered" style="display:none">
                All question answered. We can show some info here later on.
            </div>
            <div class="credits">
                Some credits here..
            </div>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="js/quiz/controller.js"></script>
</body>
</html>