<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kill corona</title>
    <link rel="stylesheet" href="css/game/invader.css">
</head>
<body style="background-color: black;">
    <div id="sketch" style="text-align: center"></div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
    <script type="text/javascript" src="js/game/invaders/obstacle.js"></script>
    <script type="text/javascript" src="js/game/invaders/player.js"></script>
    <script type="text/javascript" src="js/game/invaders/enemy.js"></script>
    <script type="text/javascript" src="js/game/invaders/bullet.js"></script>
    <script type="text/javascript" src="js/game/invaders/index.js"></script>
    <script type="text/javascript" src="js/game/invaders/invader.js"></script>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161704447-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161704447-1');
</script>

</html>